nav {
  min-height: 30px;
  border: 0px;
  padding: 0px;
  margin: 0px 0px 0px 10px;
}

ul {
  list-style:none;
  padding:0;
  overflow: auto;
  margin: 00px;
}

ul li a {
  text-decoration:none;
  padding:5px 0;
  width:100px;
  background:#485e49;
  color:#eee;
  float:left;
  text-align:center;
  border-left:1px solid #fff;
}

ul li a:hover {
  background:#a2b3a1;
  color:#000;
}