body {
  padding: 0px;
  margin: 0px;
}

div.main {
    display: block;
    width: 700px;
    padding: 0px;
    overflow: auto;
    width: 100%;
}

header {
    width: auto;
    /*background: url(../images/banner.png);*/
    margin: 0px 0px 0px 10px;
}

div.content {
    width: 100%;
}

a.frame {
    width: 88px;
    padding: 10px 10px 10px 10px;
    border: 1px solid #A0A0A0;
    float: left;
    margin: 10px;
    cursor: pointer;
}

a.frame img {
    width: 90px;
    height: 90px;
    background: #485E49;
}

div.label, input{
    height: 30px;
    width: 45%;
    display: inline-block;
	
}

div.column {
    width: 45%;
    float: left;
    border: 1px solid #A0A0A0;
    padding: 20px;
    height: 300px;
    margin: 5px;
	position: relative;
}

#stylist {
  overflow: auto;
	width: 100%
}

#procedure {
  overflow: auto;
	width: 100%
}

button, input.user {
	width: auto;
    height: 70px;
	position: absolute;
	right: 20px;
	left: 20px;
	bottom: 20px;
}